$bg-color: #2c3e50;

* {
  outline: 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #e7eaeb;
  font-family: "微软雅黑", "黑体", "宋体";
  font-size: 12px;
  height: 36px;
  height: 100%;
}
#app {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条的宽度*/
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/*滚动条的设置*/
*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条鼠标移上去*/
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/* router view transition */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.35s, opacity 0.28s ease-in-out;
}

.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.97);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.03);
}
